/*!
 * WordStrap Framework/Parent Theme | ws.wordstrap.less
 * These are the standard WordStrap enhancements to the Bootstrap syling.
 */
 
/* ==========================================================================
   Mixins
   ========================================================================== */
   
.text-shadow-mixin (@ts) when (lightness(@ts) >= 50%) { text-shadow:0 0 1px darken(@ts, 0%); }
.text-shadow-mixin (@ts) when (lightness(@ts) < 50%) { text-shadow:0 0 1px lighten(@ts, 60%); }

.bkgd-gradient-mixin (@bg) when (lightness(@bg) >= 50%) { #gradient > .vertical( @bg, darken(@bg, 12%) ); }
.bkgd-gradient-mixin (@bg) when (lightness(@bg) < 50%) { #gradient > .vertical( lighten(@bg, 12%), @bg ); }
.bkgd-gradient-horz-mixin (@bg) when (lightness(@bg) >= 50%) { #gradient > .horizontal( @bg, darken(@bg, 7%) ); }
.bkgd-gradient-horz-mixin (@bg) when (lightness(@bg) < 50%) { #gradient > .horizontal( lighten(@bg, 7%), @bg ); }
 
/* ==========================================================================
   Base
   ========================================================================== */

body { 
background-color:@bodyBackground;
background-image:@bodyPattern;
background-position:center top;
background-repeat:@bodyRepeat;
background-attachment:@bodyAttach;
}

body.gradient {
.bkgd-gradient-mixin( @bodyGradient )
}

/* =============================================================================
   Wrap
   ========================================================================== */

.wrap {
overflow:hidden;
padding-top:@wrapPaddingTop;
padding-bottom:@wrapPaddingBtm;
padding-left:0;
padding-right:0;
margin-top:@wrapMarginTop;
margin-bottom:@wrapMarginBtm;
margin-left:@wrapMarginLeft;
margin-right:@wrapMarginRight;
background-color:@wrapBackground;
background-image:@wrapPattern;
background-position:center top;
background-repeat:@wrapRepeat;
background-attachment:@wrapAttach;
.border-top-left-radius(@wrapBorderRadiusTopLeft);
.border-top-right-radius(@wrapBorderRadiusTopRight);
.border-bottom-right-radius(@wrapBorderRadiusBtmRight);
.border-bottom-left-radius(@wrapBorderRadiusBtmLeft);
.box-shadow(@wrapBoxShadow);
}

.wrap.gradient {
.bkgd-gradient-mixin( @wrapGradient )	
}

/* =============================================================================
   Header - BANNER
   ========================================================================== */

.banner {
display:block;
height:auto;
//max-height:@mastHeight + @mastMarginBtm + @mastMarginTop + @mastPaddingBtm + @mastPaddingTop + @navbarHeight;
//min-height:@navbarHeight;
padding-top:@headerPaddingTop;
padding-bottom:@headerPaddingBtm;
padding-left:@headerPaddingLeft;
padding-right:@headerPaddingRight;
margin-top:@headerMarginTop;
margin-bottom:@headerMarginBtm;
margin-left:@headerMarginLeft;
margin-right:@headerMarginRight;
background-color:@headerBackground;
background-image:@headerPattern;
background-position:center top;
background-repeat:@headerRepeat;
background-attachment:@headerAttach;
.border-top-left-radius(@headerBorderRadiusTopLeft);
.border-top-right-radius(@headerBorderRadiusTopRight);
.border-bottom-right-radius(@headerBorderRadiusBtmRight);
.border-bottom-left-radius(@headerBorderRadiusBtmLeft);
.box-shadow(@headerBoxShadow);
}

.banner.gradient {
.bkgd-gradient-mixin( @headerGradient )
}

.masthead {
display:block;
height:@mastHeight;	
padding-top:@mastPaddingTop;
padding-bottom:@mastPaddingBtm;
padding-left:@wrapPaddingLeft;
padding-right:@wrapPaddingRight;
margin-top:@mastMarginTop;
margin-bottom:@mastMarginBtm;
margin-left:@mastMarginLeft;
margin-right:@mastMarginRight;
background-color:@mastBackground;
background-image:@mastPattern;
background-position:center top;
background-repeat:@mastRepeat;
background-attachment:@mastAttach;
.border-top-left-radius(@mastBorderRadiusTopLeft);
.border-top-right-radius(@mastBorderRadiusTopRight);
.border-bottom-right-radius(@mastBorderRadiusBtmRight);
.border-bottom-left-radius(@mastBorderRadiusBtmLeft);
.box-shadow(@mastBoxShadow);

	.brand {
	height:@mastHeight;
	display:block;	
	float:left;
	max-width:100%;
	line-height:@mastHeight;
	font-family:@brandFontFamily;
	font-size:@brandFontSize;
	font-weight:@brandFontWeight;
	}
	
	.brand a {
	display:block;
	color:@brandColor;
	}
	.brand a:hover {
	text-decoration:none;
	}
	
	.brand span.brand_font_text {
	float:left;
	}
	
	.brand img {
	float:left;
	}

}

.masthead.gradient {
.bkgd-gradient-mixin( @mastGradient )
}

.leaderboard {
height:@mastHeight;
display:block;	
float:right;
max-width:100%;
line-height:@mastHeight;
font-family:@brandFontFamily;
font-size:@brandFontSize;
font-weight:@brandFontWeight;
}

.leaderboard a img, .leaderboard img {
float:right;	
padding:10px 30px;
}

.leaderboard a {
color:@brandColor;
}
.leaderboard a:hover {
text-decoration:none;
}

/* =============================================================================
   Header - NAVBAR
   ========================================================================== */

/* Adjust the Pinned Navbar to Accommodate the WP admin bar */
body.admin-bar .navbar-fixed-top.affix { top: 28px !important;}

.navbar.affix .navbar-inner, .navbar-fixed-top.affix .navbar-inner, .navbar-fixed-bottom.affix .navbar-inner {
.border-top-left-radius(0px);
.border-top-right-radius(0px);
}   

.navbar.affix .navbar-inner.container, .navbar-fixed-top.affix .navbar-inner.container, .navbar-fixed-bottom.affix .navbar-inner.container {
width:100%;
}

.navbar-inner {
margin-left:@navbarMarginLeft;
margin-right:@navbarMarginRight;	
margin-top:@navbarMarginTop;
margin-bottom:@navbarMarginBtm;
padding-left:@wrapPaddingLeft;
padding-right:@wrapPaddingRight;	
padding-top:@navbarPaddingTop;
padding-bottom:@navbarPaddingBtm;
.box-shadow(@navbarBoxShadow);
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
margin-left:@navbarMarginLeft;
margin-right:@navbarMarginRight;	
margin-top:@navbarMarginTop;
margin-bottom:@navbarMarginBtm;
padding-left:@wrapPaddingLeft;
padding-right:@wrapPaddingRight;
padding-top:@navbarPaddingTop;
padding-bottom:@navbarPaddingBtm;
.box-shadow(@navbarBoxShadow);
border-width:0px;
}

.navbar nav {
margin-left:@navbarMenuSideMargins;
margin-right:@navbarMenuSideMargins;
}

.nav, .navbar {
margin-bottom:0;	
}

.navbar .navbar-inner, .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner, .navbar-static-top .navbar-inner {
.border-top-left-radius(@navbarBorderRadiusTopLeft);
.border-top-right-radius(@navbarBorderRadiusTopRight);
.border-bottom-right-radius(@navbarBorderRadiusBtmRight);
.border-bottom-left-radius(@navbarBorderRadiusBtmLeft);
min-height:@navbarHeight;
}

.navbar-transparent .navbar-inner {
background-image:none;
background-color:transparent;	
border-color:none;
}

.navbar-pos-btm.affix-top, .navbar-pos-top.affix-top {
position:relative;
}

/* Navbar Brand */
.navbar {

	.brand {
	height:@navbarHeight;
	display:block;	
	float:left;
	max-width:100%;
	padding:0;
	margin-left:0;
	}
	
	.brand img.brand_logo {
	height:@navbarHeight - 10px;
	max-width:100%;
	display:block;
	float:left;
	vertical-align:text-top;
	padding:5px 25px 5px 0;
	}
	
	.brand img.brand_mark {
	padding-right:20px;
	
	}
	
	.brand .brand_font_text {
	line-height:@baseFontSize * 2;
	font-family:@brandFontFamily;
	font-size:@baseFontSize * 2;
	font-weight:@brandFontWeight;
	display:block;
	float:left;
	vertical-align:text-bottom;
	padding:((@navbarHeight - (@baseFontSize * 2)) / 2) 15px;
	padding-left:0;
	}

}

.navbar-fixed-top.affix-top .brand, .navbar-static-top .brand {
display:none;	
}
.navbar-fixed-top.affix .brand {
display:block;	
}

/* Navbar Std */
.navbar .nav > li > a {
font-size:@baseFontSize;
line-height:@baseFontSize;
padding:(((@navbarHeight - @baseFontSize) / 2) + 2) 15px (((@navbarHeight - @baseFontSize) / 2) - 2);	
}

.navbar .nav > .active > a, .navbar.navbar-pos-top .nav > .active > a, .navbar.affix .nav > .active > a,
.navbar .nav > .active > a:hover, .navbar.navbar-pos-top .nav > .active > a:hover, .navbar.affix .nav > .active > a:hover,
.navbar .nav > .active > a:focus, .navbar.navbar-pos-top .nav > .active > a:focus, .navbar.affix .nav > .active > a:focus {
border-left: 1px solid transparent;
border-right: 1px solid transparent;
}

.navbar.navbar-pos-top .nav > li > a, .navbar.affix .nav > li > a {
border-top:none;	
border-bottom:none;
}

/* Navbar Pills */
.navbar .nav-pills > li > a {
padding:(((@navbarHeight - @baseFontSize) / 4) + 0) 15px (((@navbarHeight - @baseFontSize) / 4) + 0);
margin: (((@navbarHeight - @baseFontSize) / 4) + 1) 0 (((@navbarHeight - @baseFontSize) / 4) + 0);	
}

.navbar .nav-pills > .active > a,
.navbar .nav-pills > .active > a:hover,
.navbar .nav-pills > .active > a:focus {
padding:(((@navbarHeight - @baseFontSize) / 4) + 0) 15px (((@navbarHeight - @baseFontSize) / 4) + 0);
margin: (((@navbarHeight - @baseFontSize) / 4) + 0) 0 (((@navbarHeight - @baseFontSize) / 4) + 0);	
}

/* Navbar Tabs */
.navbar.navbar-tabs .navbar-inner, .navbar.navbar-tabs.gradient .navbar-inner {
background:transparent;	
}

.navbar .nav-tabs {
border-bottom:none;
height:@navbarHeight + 5px;
margin-top:-5px;
}

.navbar .nav-tabs > li > a {
padding:(((@navbarHeight - @baseFontSize) / 2) + 0) 15px (((@navbarHeight - @baseFontSize) / 2) - 2);
margin: 5px 0 0 0;
.border-radius( 7px 7px 0 0 );
position:relative;
}

.navbar.navbar-tabs.transparent .nav-tabs li a {
border:none;
}

.navbar .nav-tabs > .active > a,
.navbar .nav-tabs > .active > a:hover,
.navbar .nav-tabs > .active > a:focus {
margin-top:0;
padding:(((@navbarHeight - @baseFontSize) / 2) + 5) 15px (((@navbarHeight - @baseFontSize) / 2) - 0);
background-color:@contentBackground;
background-image:@contentPattern;
background-repeat:@contentRepeat;
}

.navbar-pos-top .nav-tabs, .navbar-pos-btm.affix .nav-tabs {
height:@navbarHeight;
margin-top:0;	
}

.navbar-pos-top .nav-tabs > li > a, .navbar-pos-btm.affix .nav-tabs > li > a {
margin:0;
padding:(((@navbarHeight - @baseFontSize) / 2) - 0) 15px (((@navbarHeight - @baseFontSize) / 2) - 0);
.border-radius( 0 0 0 0 );
}

.navbar-pos-top .nav-tabs > .active > a,
.navbar-pos-top .nav-tabs > .active > a:hover,
.navbar-pos-top .nav-tabs > .active > a:focus,
.navbar-pos-btm.affix .nav-tabs > .active > a,
.navbar-pos-btm.affix .nav-tabs > .active > a:hover 
.navbar-pos-btm.affix .nav-tabs > .active > a:focus {
padding:(((@navbarHeight - @baseFontSize) / 2) - 0) 15px (((@navbarHeight - @baseFontSize) / 2) - 0);
  &:before {
    content: '';
    display: block;
    border-left:   30px solid transparent;
    border-right:  30px solid transparent;
    border-top: 11px solid #ccc;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left:-30px;
  }
  &:after {
    content: '';
    display: block;
    border-left:   30px solid transparent;
    border-right:  30px solid transparent;
    border-top: 11px solid #fff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left:-30px;
  }
}

.navbar-fixed-top.navbar-tabs .navbar-inner, .navbar-static-top.navbar-tabs .navbar-inner {
.box-shadow(@navbarBoxShadow);
}

/* Navbar LIGHT Scheme */
.navbar {
	.navbar-inner {
		background-color:@navbarBackgroundColor;
		background-image:@navbarPattern;
		background-position:center top;
		background-repeat:@navbarRepeat;
		background-attachment:@navbarAttach;	
	}
	.brand .brand_font_text {	
		color:@navbarBrandColor;	
	}
	.nav > li > a {
		.text-shadow-mixin( @navbarLinkColor );
	}
	.nav > li > a:focus,
	.nav > li > a:hover {
		.text-shadow-mixin( @navbarLinkColorHover );
	}
	.nav > .active > a:focus {
		color:@navbarLinkColorHover;
	}	
	.nav > .active > a,
	.nav > .active > a:hover,
	.nav > .active > a:focus {
		.text-shadow-mixin( @navbarLinkColorActive );
		background-color:@navbarLinkBackgroundActive;
		font-weight:bold;
		border-color:@navbarBorder;
	}
	.nav li.dropdown.open > .dropdown-toggle,
	.nav li.dropdown.active > .dropdown-toggle,
	.nav li.dropdown.open.active > .dropdown-toggle {
		.text-shadow-mixin( @navbarLinkColorActive );
		border-color:@navbarBorder;
	}
	.nav li.dropdown > .dropdown-toggle .caret {
		border-top-color: @navbarLinkColor;
		border-bottom-color: @navbarLinkColor;
	}
	.nav li.dropdown > .dropdown-toggle:focus .caret,
	.nav li.dropdown > .dropdown-toggle:hover .caret  {
		border-top-color: @navbarLinkColorHover;
		border-bottom-color: @navbarLinkColorHover;
	}
	.nav li.dropdown.active > .dropdown-toggle .caret,
	.nav li.dropdown.active > .dropdown-toggle:hover .caret,
	.nav li.dropdown.active > .dropdown-toggle:focus .caret  {
		border-top-color: @navbarLinkColorActive;
		border-bottom-color: @navbarLinkColorActive;
	}			
	.nav-pills > .active > a,
	.nav-pills > .active > a:hover,
	.nav-pills > .active > a:focus {
		border: 1px solid @navbarBorder;
	}
	.nav-tabs > li > a {
		background-color:@navbarBackgroundColor;
		background-image:@navbarPattern;
		background-position:center top;
		background-repeat:@navbarRepeat;
		background-attachment:@navbarAttach;	
		border: 1px solid @navbarBorder;	
	}
	.nav-tabs > li > a:focus,
	.nav-tabs > li > a:hover {
		background-color:@navbarLinkBackgroundHover;
		border-color: @navbarLinkBackgroundHover;
	}
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover,
	.nav-tabs > .active > a:focus {
		background-color:@contentBackground;
		background-image:@contentPattern;
		background-repeat:@contentRepeat;
		border-color: darken(@contentBackground,20%);
		.box-shadow(inset 0 3px 7px rgba(0,0,0,.125));
		color:@textColor;
	}
	.nav-tabs li.dropdown.open > .dropdown-toggle,
	.nav-tabs li.dropdown.active > .dropdown-toggle,
	.nav-tabs li.dropdown.open.active > .dropdown-toggle {
		color:@navbarLinkColorHover;
	}
	.nav-tabs li.dropdown.open > .dropdown-toggle .caret,
	.nav-tabs li.dropdown.active > .dropdown-toggle .caret,
	.nav-tabs li.dropdown.open.active > .dropdown-toggle .caret {
		border-top-color:@navbarLinkColorHover;
		border-bottom-color:@navbarLinkColorHover;
	}	
}
.navbar.navbar-pos-btm {
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover {
		border-bottom: none;
	}
}
.navbar.navbar-pos-top, .navbar.navbar-pos-btm.affix {		
	.navbar-inner { 
		background-color:@navbarBackground;
		background-image:@navbarPattern;
		background-position:center top;
		background-repeat:@navbarRepeat;
		background-attachment:@navbarAttach;
		margin-left:0;
		margin-right:0;
		border-bottom:1px solid @navbarBorder;
	}
	.nav-tabs {
		border-left:1px solid darken(@navbarBackgroundHighlight,1%);
		border-right:1px solid darken(@navbarBackground,12%);
	}	
	.nav-tabs > li > a {
		border-left:1px solid darken(@navbarBackground,12%);
		border-right:1px solid darken(@navbarBackgroundHighlight,1%);
	}
	.nav-tabs > li > a:focus,
	.nav-tabs > li > a:hover {
		border-color: @navbarLinkBackgroundHover;
	}
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover {
		background:@navbarLinkBackgroundActive;	
		border-color: @navbarLinkBackgroundActive;
		border-top:none;	
		color:@navbarLinkColorActive;		
	  &:before {	  
	      border-top-color: @navbarBorder;
	      border-bottom-color: @navbarBorder;
	  }
	  &:after {
		 border-top-color: @navbarLinkBackgroundActive;
	  }
	}	
}
.navbar.navbar-pos-top.transparent, .navbar.navbar-pos-btm.affix.transparent, .navbar.navbar-pos-top.navbar-tabs, .navbar.navbar-pos-btm.affix.navbar-tabs {
	.navbar-inner { 
		background-color:@navbarBackground;
		background-image:@navbarPattern;
		background-position:center top;
		background-repeat:@navbarRepeat;
		background-attachment:@navbarAttach;
	}
}
.navbar.navbar-pos-top.gradient, .navbar.navbar-pos-btm.affix.gradient {
	.navbar-inner { 
		 #gradient > .vertical(@navbarBackgroundHighlight, @navbarGradient);
	}
}
.navbar.gradient {
	.navbar-inner {
		#gradient > .vertical(@navbarBackgroundHighlight, @navbarGradient);	
	}
	.nav-tabs > li > a {
		#gradient > .vertical(@navbarBackgroundHighlight, @navbarGradient);	
	}	
	.nav-tabs > li > a:focus,
	.nav-tabs > li > a:hover {
		background:@navbarLinkBackgroundHover;
	}	
	.nav-tabs > .active > a:focus {
		background-color:@contentBackground;
		background-image:@contentPattern;
		background-repeat:@contentRepeat;
		border-color: darken(@contentBackground,20%);
		.box-shadow(inset 0 3px 7px rgba(0,0,0,.125));
		color:@textColor;
	}	
}
.navbar.textshadow-no {
	.brand, .nav > li > a, .nav > li > a:focus, .nav > li > a:hover, .nav > .active > a, .nav > .active > a:hover, .nav > .active > a:focus, 	.nav li.dropdown.open > .dropdown-toggle, .nav li.dropdown.active > .dropdown-toggle, .nav li.dropdown.open.active > .dropdown-toggle {
		text-shadow:none;
	}
}
.navbar.vertdividers {
	.nav > li > a {
		border-left: 1px solid darken(@navbarBackgroundHighlight,1%);
		border-right: 1px solid darken(@navbarBackground,12%);
	}
	ul.nav {
		border-left: 1px solid darken(@navbarBackground,12%);
		border-right: 1px solid darken(@navbarBackgroundHighlight,1%);
	}
	.nav > .active > a,
	.nav > .active > a:hover,
	.nav > .active > a:focus {
		border-color:@navbarBorder;
	}	
}

/* Navbar DARK Scheme */
.navbar-inverse {
	.navbar-inner {
		background-color:@navbarBackgroundColor;
		background-image:@navbarPattern;
		background-position:center top;
		background-repeat:@navbarRepeat;
		background-attachment:@navbarAttach;	
	}
	.brand .brand_font_text {	
		color:@navbarInverseBrandColor;	
	}	
	.nav > li > a {
		.text-shadow-mixin( @navbarInverseLinkColor );
	}
	.nav > li > a:focus,
	.nav > li > a:hover {
		.text-shadow-mixin( @navbarInverseLinkColorHover );
	}
	.nav > .active > a:focus {
		color:@navbarInverseLinkColorHover;
	}	
	.nav > .active > a,
	.nav > .active > a:hover,
	.nav > .active > a:focus {
		.text-shadow-mixin( @navbarInverseLinkColorActive );
		background-color:@navbarInverseLinkBackgroundActive;
		font-weight:bold;
		border-color:@navbarInverseBorder;
	}
	.nav li.dropdown.open > .dropdown-toggle,
	.nav li.dropdown.active > .dropdown-toggle,
	.nav li.dropdown.open.active > .dropdown-toggle {
		.text-shadow-mixin( @navbarInverseLinkColorActive );
		border-color:@navbarInverseBorder;
	}
	.nav li.dropdown > .dropdown-toggle .caret {
		border-top-color: @navbarInverseLinkColor;
		border-bottom-color: @navbarInverseLinkColor;
	}
	.nav li.dropdown > .dropdown-toggle:focus .caret,
	.nav li.dropdown > .dropdown-toggle:hover .caret  {
		border-top-color: @navbarInverseLinkColorHover;
		border-bottom-color: @navbarInverseLinkColorHover;
	}
	.nav li.dropdown.active > .dropdown-toggle .caret,
	.nav li.dropdown.active > .dropdown-toggle:hover .caret,
	.nav li.dropdown.active > .dropdown-toggle:focus .caret  {
		border-top-color: @navbarInverseLinkColorActive;
		border-bottom-color: @navbarInverseLinkColorActive;
	}		
	.nav-pills > .active > a,
	.nav-pills > .active > a:hover,
	.nav-pills > .active > a:focus {	
		border: 1px solid @navbarInverseBorder;
	}		
	.nav-tabs > li > a {
		background-color:@navbarBackgroundColor;
		background-image:@navbarPattern;
		background-position:center top;
		background-repeat:@navbarRepeat;
		background-attachment:@navbarAttach;
		border: 1px solid @navbarInverseBorder;		
	}	
	.nav-tabs > li > a:focus,
	.nav-tabs > li > a:hover {
		background-color:@navbarInverseLinkBackgroundHover;
		border-color: @navbarInverseLinkBackgroundHover;
	}	
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover,
	.nav-tabs > .active > a:focus {
		background-color:@contentBackground;
		background-image:@contentPattern;
		background-repeat:@contentRepeat;
		border-color: darken(@contentBackground,20%);
		.box-shadow(inset 0 3px 7px rgba(0,0,0,.125));
		color:@textColor;
	}
	.nav-tabs li.dropdown.open > .dropdown-toggle,
	.nav-tabs li.dropdown.active > .dropdown-toggle,
	.nav-tabs li.dropdown.open.active > .dropdown-toggle {
		color:@navbarInverseLinkColorHover;
	}
	.nav-tabs li.dropdown.open > .dropdown-toggle .caret,
	.nav-tabs li.dropdown.active > .dropdown-toggle .caret,
	.nav-tabs li.dropdown.open.active > .dropdown-toggle .caret {
		border-top-color:@navbarInverseLinkColorHover;
		border-bottom-color:@navbarInverseLinkColorHover;
	}	
	.navbar-search .search-query:focus, .navbar-search .search-query.focused {
		padding:4px 8px;
	}
}
.navbar-inverse.navbar-pos-btm {
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover {
		border-bottom: none;
	}	
}
.navbar-inverse.navbar-pos-top, .navbar-inverse.navbar-pos-btm.affix {		
	.navbar-inner { 
		background-color:@navbarInverseBackground;
		background-image:@navbarPattern;
		background-position:center top;
		background-repeat:@navbarRepeat;
		background-attachment:@navbarAttach;
		margin:0;
		margin:0;
		border-bottom:1px solid @navbarInverseBorder;
	}
	.nav-tabs {
		border-left:1px solid lighten(@navbarInverseBackgroundHighlight,3%);
		border-right:1px solid darken(@navbarInverseBackground,15%);
	}	
	.nav-tabs > li > a {
		border-left:1px solid darken(@navbarInverseBackground,15%);
		border-right:1px solid lighten(@navbarInverseBackgroundHighlight,3%);
	}
	.nav-tabs > li > a:focus,
	.nav-tabs > li > a:hover {
		border-color: @navbarInverseLinkBackgroundHover;
	}	
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover {
		background:@navbarInverseLinkBackgroundActive;
		border-color: @navbarInverseLinkBackgroundActive;
		border-top:none;	
		color:@navbarInverseLinkColorActive;
	  &:before {	  
	      border-top-color: @navbarInverseBorder;
	      border-bottom-color: @navbarInverseBorder;
	  }
	  &:after {
		 border-top-color: @navbarInverseLinkBackgroundActive;
	  }
	}	
}
.navbar-inverse.navbar-pos-top.transparent, .navbar-inverse.navbar-pos-btm.affix.transparent, .navbar-inverse.navbar-pos-top.navbar-tabs, .navbar-inverse.navbar-pos-btm.affix.navbar-tabs {
	.navbar-inner { 
		background-color:@navbarInverseBackground;
		background-image:@navbarPattern;
		background-position:center top;
		background-repeat:@navbarRepeat;
		background-attachment:@navbarAttach;
	}
}
.navbar-inverse.navbar-pos-top.gradient, .navbar-inverse.navbar-pos-btm.affix.gradient {
	.navbar-inner { 
		 #gradient > .vertical(@navbarInverseBackgroundHighlight, @navbarGradient);
	}
}
.navbar-inverse.gradient {
	.navbar-inner {
		#gradient > .vertical(@navbarInverseBackgroundHighlight, @navbarGradient);	
	}
	.nav-tabs > li > a {
		#gradient > .vertical(@navbarInverseBackgroundHighlight, @navbarGradient);	
	}
	.nav-tabs > li > a:focus,
	.nav-tabs > li > a:hover {
		background:@navbarInverseLinkBackgroundHover;
	}	
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover,
	.nav-tabs > .active > a:focus {
		background-color:@contentBackground;
		background-image:@contentPattern;
		background-repeat:@contentRepeat;
		border-color: darken(@contentBackground,20%);
		.box-shadow(inset 0 3px 7px rgba(0,0,0,.125));
		color:@textColor;
	}		
}
.navbar-inverse.textshadow-no {
	.brand, .nav > li > a, .nav > li > a:focus, .nav > li > a:hover, .nav > .active > a, .nav > .active > a:hover, .nav > .active > a:focus, 	.nav li.dropdown.open > .dropdown-toggle, .nav li.dropdown.active > .dropdown-toggle, .nav li.dropdown.open.active > .dropdown-toggle {
		text-shadow:none;
	}
}
.navbar-inverse.vertdividers {
	.nav > li > a {
		border-left: 1px solid lighten(@navbarInverseBackgroundHighlight,3%);
		border-right: 1px solid darken(@navbarInverseBackground,15%);
	}
	ul.nav {
		border-left: 1px solid darken(@navbarInverseBackground,15%);
		border-right: 1px solid lighten(@navbarInverseBackgroundHighlight,3%);
	}
	.nav > .active > a,
	.nav > .active > a:hover,
	.nav > .active > a:focus {
		border-color:@navbarInverseBorder;
	}	
}

/* Mobile Navbar (.mobile-navbar) */

.navbar .mobile-navbar {
display:none;
float:left;
width:100%;
height:30px;
margin:0;
.navbarVerticalAlign(30px);	

	.btn-navbar {
		float:left;
		padding:4px 6px;
		margin:0;
		color:@navbarLinkColor;
		display:block;	
		height:20px;
		font-size:14px;	
	}
	strong {
		float:left;
		margin-right:5px;
		line-height:20px;	
	}
	i {
		float:right;
		line-height:20px;
	}	
	i:before, i:after {
		color:@navbarLinkColor;
	}	

	.mobile-menu { /* Navbar Mobile Menu (.btn-navbar) */
		float:left;
		width:85px;
		height:30px;
		margin:0;
	}
	.mobile-quicklinks { /* Navbar Mobile Quick Links (.btn-navbar) */
		float:right;
		width:70%;
		height:30px;	
		margin:0;
		.btn-navbar {
			float:right;
			margin: 0 0 0 3px;	
		}
	}	

} /* end .mobile-navbar */

.navbar-inverse .mobile-navbar {
	.btn-navbar {
	color:@navbarInverseLinkColor;	
	}
	i:before, i:after {
	color:@navbarInverseLinkColor;
	}	
}

/* Mobile Navbar Quick Links Collapse */

.ql-collapse.collapse {
	visibility:collapse;
}

.ql-collapse.in.collapse {
	visibility:visible;
	padding:20px 0;
	.searchform {
		width:100%;
		.search-wrap {
			display:block;
			width:auto;
		}
		input.search-query {
			width:97%;
			margin:auto;
			float:none;
		}
		&:focus,
		&.focused {
			padding:4px 8px;
		}
	}
}

/* Navbar In-Collapse */

.navbar .nav-collapse.in.collapse {
	padding-top:20px;
	padding-bottom:20px;
}

.navbar.vertdividers .nav-collapse.in.collapse {
	ul.nav, ul.nav > li > a {
	border-left:none;
	border-right:none;
	}
}

// In-Collapse Links
.navbar .nav-collapse.in.collapse {
	.nav > li > a, .nav-tabs > li > a, .nav-pills > li > a { // Default Links
		font-size:@baseFontSize;
		line-height:@baseFontSize;
		padding:12px 15px;
		margin:4px 0;
		background:transparent;
		border:none;
	}
	.nav > li > a:hover { // Hover Links
		background-color: @navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
		color: @navbarLinkColorHover;
		text-decoration: none;
	}
	.nav > li > a:focus { // Focus Links
		background-color: @navbarLinkBackgroundActive; // "transparent" is default to differentiate :hover from .active
		color: @navbarLinkColorActive;
		text-decoration: none;
	}
	.nav > .active > a, .nav > .active > a:hover, .nav > .active > a:focus,
	.nav-tabs > .active > a, .nav > .active > a:hover, .nav > .active > a:focus,
	.nav-pills > .active > a, .nav > .active > a:hover, .nav > .active > a:focus { // Active Links
		color: @navbarLinkColorActive;
		text-decoration: none;
		background-color: @navbarLinkBackgroundActive;
		.box-shadow(inset 0 3px 8px rgba(0,0,0,.125));
		border:1px solid @navbarBorder;
		.border-radius(4px);
	}	
	.nav > li > .dropdown-menu, .nav-tabs > li > .dropdown-menu, .nav-pills > li > .dropdown-menu {
		&:before, &:after { display:none; } // Turn off the white caret pointing up
	}			
}
.navbar-inverse .nav-collapse.in.collapse {
	.nav > li > a:hover { // Hover Links
		background-color: @navbarInverseLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
		color: @navbarInverseLinkColorHover;
	}
	.nav > li > a:focus { // Focus Links
		background-color: @navbarInverseLinkBackgroundActive; // "transparent" is default to differentiate :hover from .active
		color: @navbarInverseLinkColorActive;
	}
	.nav > .active > a, .nav > .active > a:hover, .nav > .active > a:focus,
	.nav-tabs > .active > a, .nav > .active > a:hover, .nav > .active > a:focus,
	.nav-pills > .active > a, .nav > .active > a:hover, .nav > .active > a:focus { // Active Links
		color: @navbarInverseLinkColorActive;
		background-color: @navbarInverseLinkBackgroundActive;
		.box-shadow(inset 0 3px 8px rgba(0,0,0,.125));
		border:1px solid @navbarInverseBorder;
		.border-radius(4px);
	}		
}

/* Navbar Caret + Dropdown Menu */
.nav .dropdown > .dropdown-toggle .caret {
display:@navbarCaret;
margin-top:5px;
}

.navbar .nav > li > .dropdown-menu {
margin-top:@navbarDropdownMarginTop;	
.border-radius(@navbarDropdownBorderRadius);
}
.nav-tabs > li > .dropdown-menu {
margin-top:@navbarDropdownMarginTop;	
.border-radius(0 0 @navbarDropdownBorderRadius @navbarDropdownBorderRadius);	
}
.nav-pills > li > .dropdown-menu {
margin-top:@navbarDropdownMarginTop;	
.border-radius(@navbarDropdownBorderRadius);	
}

.navbar .nav > li > .dropdown-menu, .nav-tabs > li > .dropdown-menu, .nav-pills > li > .dropdown-menu {
  &:before {
    content: '';
    display: @navbarDropdownCaret;
    border-left:   7px solid transparent;
    border-right:  7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: @dropdownBorder;
    position: absolute;
    top: -7px;
    left: 9px;
  }
  &:after {
    content: '';
    display: @navbarDropdownCaret;
    border-left:   6px solid transparent;
    border-right:  6px solid transparent;
    border-bottom: 6px solid @dropdownBackground;
    position: absolute;
    top: -6px;
    left: 10px;
  }
}

.nav .dropdown-menu .active > a,
.nav .dropdown-menu .active > a:hover {
color: @dropdownLinkColorActive;
}

.nav .dropdown-submenu > a:after {
border-left-color:@dropdownLinkColor;
}
.nav .dropdown-submenu:hover > a:after {
border-left-color:@dropdownLinkColorHover;	
}
.nav .dropdown-submenu:focus > a:after  {
border-left-color:@dropdownLinkColorHover;	
}
.nav .dropdown-submenu:active > a:after {
border-left-color:@dropdownLinkColorActive;	
}
.nav .dropdown-submenu.active:hover > a:after {
border-left-color:@dropdownLinkColorActive;	
}

.nav .dropdown-submenu:hover > a {
color:@dropdownLinkColorHover; 
}

/* =============================================================================
   Feature
   ========================================================================== */

.feature {
display:block;
height:auto;
padding-top:@featurePaddingTop;
padding-bottom:@featurePaddingBtm;
padding-left:@featurePaddingLeft;
padding-right:@featurePaddingRight;
margin-top:@featureMarginTop;
margin-bottom:@featureMarginBtm;
margin-left:@featureMarginLeft;
margin-right:@featureMarginRight;
background-color:@featureBackground;
background-image:@featurePattern;
background-position:center top;
background-repeat:@featureRepeat;
background-attachment:@featureAttach;
.border-top-left-radius(@featureBorderRadiusTopLeft);
.border-top-right-radius(@featureBorderRadiusTopRight);
.border-bottom-right-radius(@featureBorderRadiusBtmRight);
.border-bottom-left-radius(@featureBorderRadiusBtmLeft);
.box-shadow(@featureBoxShadow);
position:absolute;
left:0;
right:0;
width:100%;
overflow:hidden;
z-index:999;
}

.feature.gradient {
.bkgd-gradient-mixin( @featureGradient )
}   
   
.feature-header, .feature-search { // Based on page-header class
display:block;
overflow:hidden;
min-height:@h1LineHeight;
padding:4px 0;
}

.feature-header {
	
	h1 {
	margin:0;
	padding:0;
	line-height:@h1LineHeight;	
	}
	
	.feature-subtitle {
	font-size: @baseFontSize + 8;
	line-height: @baseLineHeight; 
	}
}

/* The Searchform is universally styled further below
   

/* =============================================================================
   Content
   ========================================================================== */

.content {
position:relative;
overflow:hidden;
padding-top:@contentPaddingTop;
padding-bottom:@contentPaddingBtm;
padding-left:@contentPaddingLeft;
padding-right:@contentPaddingRight;
margin-top:@contentMarginTop;
margin-bottom:@contentMarginBtm;
margin-left:@contentMarginLeft;
margin-right:@contentMarginRight;
background-color:@contentBackground;
background-image:@contentPattern;
background-position:center top;
background-repeat:@contentRepeat;
background-attachment:@contentAttach;
.border-top-left-radius(@contentBorderRadiusTopLeft);
.border-top-right-radius(@contentBorderRadiusTopRight);
.border-bottom-right-radius(@contentBorderRadiusBtmRight);
.border-bottom-left-radius(@contentBorderRadiusBtmLeft);
.box-shadow(@contentBoxShadow);
}

.content.gradient {
.bkgd-gradient-mixin( @contentGradient )	
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main, .sidebar { 
padding-bottom:99999px;
margin-bottom:-99979px;
overflow:hidden;
display:block;
position:relative;
top:0px;
}

.main {
padding-top:30px;	
}

.main img { margin-bottom:20px; }

.main article { overflow:hidden; }

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
background-color:@sidebarBackground;
background-image:@sidebarPattern;
background-position:center top;
background-repeat:@sidebarRepeat;
background-attachment:@sidebarAttach;
.border-top-right-radius(@contentBorderRadius);
.border-bottom-right-radius(@contentBorderRadius);
//.box-shadow(@contentBoxShadow);
}

.sidebar.gradient {
.bkgd-gradient-horz-mixin( @sidebarGradient )	
}

.sidebar section { 
margin-top:10px;
margin-bottom:10px;
padding:5px 0;
}

.sidebar > * {
margin-left:30px;	
margin-right:30px;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry .entry-meta {
	height:auto;
	overflow:hidden;
}
.hentry .entry-meta div { margin-right:20px; }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Archives
   ========================================================================== */
   
.archive article {
.clearfix();	
}   
.readmore {
float:right;
}

/* ==========================================================================
   Comments
   ========================================================================== */
   
section.respond {padding-top: 0px;padding: 10px;background: #F6F6F6;margin-bottom: 20px;}
.commentform .btn {margin-right: 0.7%;}
.comments{line-height: 24px;margin-bottom: 18px;}
ol.commentlist,ol.commentlist ul.children{list-style-type: none;margin-left: 0;}
.comment .vcard h4 {margin:0;}
ol.commentlist time{font-size: .8em;color: #eeeeee;}
ol.commentlist div.comment-author{position: relative;}
ol.commentlist a.comment-edit-link{text-decoration: none;padding-left: 5px;}
ol.commentlist span.edit-comment{position: absolute;right: 0px;top: 5px;}
ol.commentlist li.bypostauthor{}
a.comment-reply-link{position: absolute;right: 0;bottom: 0;}
.cancel-comment-reply{float:right; margin-right:5px;}
.comment-nav ul{list-style-type: none;margin: 0;}
.comment-form-elements{list-style-type: none;margin: 0;}
.comment .vcard .avatar{padding-right: 0;}
.comment .vcard .comment-text{margin-left: 0;}
img.avatar{border-top: 1px solid #ddd;border-bottom: 1px solid #dedede;border-right: 1px solid #dedede;border-left: 1px solid #ddd;}
ol.commentlist li article { 
margin-bottom:20px; 
	.icon-calendar { margin-bottom:10px; }
}
ol.commentlist li li {margin-left:20px;}
.comment{width: 98%; min-width:275px; }
.commentform .btn {text-align:right; margin-top:10px;float:right;}
.respond {
	input.author, input.email, input.url { width:50%; min-width:275px; }
}

/* ==========================================================================
   Footer
   ========================================================================== */
.sitefooter {	
}

.superfooter {
//height:@footerHeight;
padding-top:@footerPaddingTop;
padding-bottom:@footerPaddingBtm;
padding-left:@wrapPaddingLeft;
padding-right:@wrapPaddingRight;
margin-top:@footerMarginTop;
margin-bottom:@footerMarginBtm;
margin-left:@footerMarginLeft;
margin-right:@footerMarginRight;
background-color:@footerBackground;
background-image:@footerPattern;
background-position:center top;
background-repeat:@footerRepeat;
background-attachment:@footerAttach;
.border-top-left-radius(@footerBorderRadiusTopLeft);
.border-top-right-radius(@footerBorderRadiusTopRight);
.border-bottom-right-radius(@footerBorderRadiusBtmRight);
.border-bottom-left-radius(@footerBorderRadiusBtmLeft);
.box-shadow(@footerBoxShadow);
color:@footerColor;
}

.superfooter.gradient {
.bkgd-gradient-mixin( @footerGradient )
}

.superfooter a {
color:@footerLinkColor;
border-bottom:1px dotted @footerLinkColor;	
}

.superfooter a:hover {
text-decoration:none;
border-bottom:1px solid darken(@footerLinkColor,15%);	
color:darken(@footerLinkColor,15%);
}		

.superfooter h3 {
color:@footerHeadingsColor;	
margin:0 0 10px 0;
}

.superfooter section {
padding-top:30px;
padding-bottom:30px;
margin-left:30px;
margin-right:30px;	
}
/*
.superfooter .sf-col > * {
margin:0 30px;	
}
*/

.colophon {
//height:@colophonHeight;
padding-top:@colophonPaddingTop;
padding-bottom:@colophonPaddingBtm;
padding-left:@wrapPaddingLeft;
padding-right:@wrapPaddingRight;
margin-top:@colophonMarginTop;
margin-bottom:@colophonMarginBtm;
margin-left:@colophonMarginLeft;
margin-right:@colophonMarginRight;
background-color:@colophonBackground;
background-image:@colophonPattern;
background-position:center top;
background-repeat:@colophonRepeat;
background-attachment:@colophonAttach;
.border-top-left-radius(@colophonBorderRadiusTopLeft);
.border-top-right-radius(@colophonBorderRadiusTopRight);
.border-bottom-right-radius(@colophonBorderRadiusBtmRight);
.border-bottom-left-radius(@colophonBorderRadiusBtmLeft);
.box-shadow(@colophonBoxShadow);
color:@colophonColor;
#translucent > .background(@colophonBackground, @colophonBackgroundOpacity);
}

.colophon.gradient {
.bkgd-gradient-mixin( @colophonGradient )
}

.colophon a {
color:@colophonLinkColor;
border-bottom:1px dotted @colophonLinkColor;	
}

.colophon a:hover {
text-decoration:none;
border-bottom:1px solid darken(@colophonLinkColor,15%);	
color:darken(@colophonLinkColor,15%);
}

.credits {
text-align:right;	
}

/* Sticky footer styles
-------------------------------------------------- */

/*

html,
body {
height: 100%;
}

.wrap {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -1*( ( @colophonHeight + @colophonPaddingTop + @colophonPaddingBtm + @colophonMarginTop + @colophonMarginBtm ) + ( @footerHeight + @footerPaddingTop + @footerPaddingBtm + @footerMarginTop + @footerMarginBtm ) );
}

.sitefooter { 
height: ( ( @colophonHeight + @colophonPaddingTop + @colophonPaddingBtm + @colophonMarginTop + @colophonMarginBtm ) + ( @footerHeight + @footerPaddingTop + @footerPaddingBtm + @footerMarginTop + @footerMarginBtm ) );
}

.push {
height: ( ( @colophonHeight + @colophonPaddingTop + @colophonPaddingBtm + @colophonMarginTop + @colophonMarginBtm ) + ( @footerHeight + @footerPaddingTop + @footerPaddingBtm + @footerMarginTop + @footerMarginBtm ) );
}

@media (max-width: 767px) {
.sitefooter {
margin-left: -20px;
margin-right: -20px;
padding-left: 20px;
padding-right: 20px;
}
}

*/

/* ==========================================================================
   Grids
   ========================================================================== */
.main .gi-img {
	margin-bottom:10px;
}

.gi-anchor.well {
	display:block;
	overflow:hidden;
	width:auto;
	padding:9px;
	border-width:1px;
}   

.gi-anchor.well:hover {
	border:2px solid @linkColor;
	padding:8px;
	text-decoration:none;
	background:ligten(@wellBackground, 5%);
}

.gi-title {
	margin:0 0 2px 0;
	line-height:24px;
}

.gi-tagline {
	font-size:12px;
	line-height:12px;
	margin:0;
	padding:0;
}
      
/* ==========================================================================
   Search Form
   ========================================================================== */
   
.searchform {
position:relative;
float:right;	
margin:0;
padding:((@h1LineHeight - 34px) / 2) 0;
vertical-align:middle;
height:34px;
width:100%;
display:block;
}

.searchform input.search-query {
.border-radius(5px);
border:1px solid #aaa;
width:325px;
/* position:absolute; right:0; */
float:right; /* use instead */
height:24px;
line-height:24px;
padding:4px 8px;
background:#fefefe;
display:block;
}

.searchform input.search-query:focus {
.box-shadow(~"inset 0 1px 1px 1px rgba(0,0,0,.2), 0 0 10px 0 rgba(255,255,255,.8)");
border-color:rgba(0,0,0,0.8);	
padding:4px 8px;
}

.searchform button.btn {
background:transparent;
color:@iconFontColor;
font-size:18px;
line-height:26px;
text-shadow:none;
border:none;
.border-top-left-radius(0px);
.border-top-right-radius(5px);
.border-bottom-right-radius(5px);
.border-bottom-left-radius(0px);
.box-shadow(0 0 0 transparent);
-webkit-appearance:button;
-moz-appearance:button;
appearance:button;
vertical-align:middle;
float:right;
display:block;
height:32px;
margin:1px;
padding:4px 8px;
/* position:absolute; right:0px; */
margin-top:-33px; z-index:1000; /* use instead */
}

.searchform button.btn:hover {
background:@iconFontColor;
color:#fff;
} 

.searchform button.btn:hover {
	[class^="icon-"]:before,
	[class*=" icon-"]:before {
	color:#fff;
	}	
}

/* ==========================================================================
   Iconography
   ========================================================================== */
[class^="icon-"]:before,
[class*=" icon-"]:before {
color:@iconFontColor;
}

/* ==========================================================================
   Misc Components
   ========================================================================== */
.prefix { font-size:11px; letter-spacing:0.7px; text-transform:uppercase; color:#555; margin-right:5px; }

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }
img.alignright { margin-left:20px; }
img.alignleft { margin-right:20px; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
   
@1200base: 	(@gridRowWidth1200);
@940base: 	(@gridRowWidth);
@768base: 	(@gridRowWidth768);
@1200pad:		(@1200base + @wrapPaddingLeft + @wrapPaddingRight);
@940pad:		(@940base + @wrapPaddingLeft + @wrapPaddingRight);
@768pad:		(@768base + @wrapPaddingLeft + @wrapPaddingRight);
@sidebar1200: 	370px;
@sidebar940: 	300px;
@border979:    @hrBorder;

.navbar.affix .navbar-inner.contain { width:100%; padding:0; }
   
@media (min-width: 1200px) {
.contain { width:@1200base; }
.contain.wrap { width: @1200pad; margin-left: ( (@1200pad / 2) - (@1200pad) ); position:absolute; left:50%; }
.container { width:@1200base; }
.content { position:relative; }
.main { position:relative; left:0; }
.sidebar { width: (370px + @wrapPaddingRight + @contentPaddingRight); margin-right: -(@wrapPaddingRight + @contentPaddingRight); }
}  
   
@media (min-width: 980px) and (max-width: 1199px) {
.contain { width:@940base; }
.contain.wrap { width: @940pad; margin-left: ( (@940pad / 2) - (@940pad) ); position:absolute; left:50%; }
.container { width:@940base; }
.searchform input.search-query { width:85%; } 
.sidebar { width: (300px + @wrapPaddingRight + @contentPaddingRight); margin-right: -(@wrapPaddingRight + @contentPaddingRight); }	
}

@media (max-width: 979px) {
/* Fix top padding when using the responsive grid with the fixed topbar */
body.top-navbar { padding-top: 0; }
@wrapPaddingRight: 30px;
@wrapPaddingLeft: 30px;
.contain { width:@768base; }
.contain.wrap { width: @768pad; }
.container, .span12 { width:@768base; }
.masthead, .navbar-inner, .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner, .navbar-static-top .navbar-inner, .feature, .content, .superfooter, .colophon { padding-left:@wrapPaddingLeft; padding-right:@wrapPaddingRight; }
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin:0; }
.navbar.navbar-tabs .navbar-inner { background:@navbarBackground; border-top:1px solid @navbarBorder; border-bottom:1px solid @navbarBorder; }
.navbar-inverse.navbar-tabs .navbar-inner { background:@navbarInverseBackground; border-top:1px solid @navbarInverseBorder; border-bottom:1px solid @navbarInverseBorder; }
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width:@768base; }
.navbar.vertdividers { ul.nav, ul.nav > li > a { border-left:none; border-right:none; } }	
.nav-collapse, .nav-collapse.collapse { visibility:collapse }
.nav-collapse.in.collapse { visibility:visible; }
.navbar .mobile-navbar { display:block; }
.searchform input.search-query { width:85%; }
.feature-header { width:100%; }
.content .container, .superfooter .container, .superfooter .span12 { width: @768pad; }
/*.content .container, .superfooter .container, .superfooter .span12 { width: 100%; } */
.content { padding:0; width:auto; }
.main, .sidebar { float:none; padding-bottom:0; margin-bottom:0; width:auto; }
.main { padding-bottom:20px; border-bottom:1px solid @border979; }
.main > *, .sidebar section > *, .superfooter .sf-col > * { padding-left:@wrapPaddingLeft; padding-right:@wrapPaddingRight; width:auto; margin-left:auto; margin-right:auto; }
.main > .row { margin-left:-20px; }
.sidebar { padding:0; margin-right:0; }
.sidebar section { border-top:1px solid @border979; border-bottom:1px solid @border979; padding:15px 0; margin:0; }
.superfooter { padding:0; width:auto; }
.superfooter .sf-col { float:none; width:auto; border-top: 1px solid @border979; border-bottom:1px solid @border979; margin:0; }
.colophon { border-top: 1px solid @border979; }
.credits { float:right; }
}

@media (max-width: 784px) {
body { padding-left: 0px; padding-right: 0px; }
.contain, .contain.wrap { width:auto; }
.container, .span12, .span6, .content .container, .superfooter .container, .superfooter .span12 { width:100%; }
.wrap, .banner, .masthead, .navbar .navbar-inner, .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner, .navbar-static-top .navbar-inner, .feature, .content, .superfooter, .colophon { .border-radius(0px); border-left:none; border-right:none; margin-top:0; margin-bottom:0; }
.banner { margin-top:0; }
.navbar .container { width:100%; }
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin:0; }
.searchform input.search-query { width:75%; }
.main > * { width:auto; }
.copyright, .credits { text-align:center; float:none; margin:0; }
.comment { width:97%; }
}

@media (min-width: 481px) and (max-width: 767px) {
.main > .row { margin-left:auto; }
.main .gi-img { float:left; max-width:180px;	margin-bottom:0; }
.gi-heading { float:right; text-align:right; max-width:220px; }
.gi-title { font-size:30px; line-height:50px; }
.gi-tagline { font-size:16px;	line-height:24px; }
.ql-collapse.in.collapse .searchform input.search-query { width:96%; }
}

@media (max-width: 480px) {
.masthead {
	.brand a { float:none; display:block; width:auto; margin:0 auto; text-align:center; }
	.brand span.brand_font_text, .brand img { float:none; }
}
.feature { padding-left:0; padding-right:0; }
.feature .feature-header { text-align:center; padding-left:30px; padding-right:30px; }
.searchform input.search-query { width:65%; }
.main > .row { margin-left:auto; }
.main .gi-img { width:100%; } 
.comment { width:95%; }
.ql-collapse.in.collapse .searchform input.search-query { width:94%; }
}